.bg__general_aux_legal{
    position: absolute;
    background-color: #519c7e;
    width: 100%;
    height: 532vh;
}

.bg__general_legal{
    position: absolute;
    background-color: white;
    width: 50vw;
    height: 500vh;

    margin-left: 20vw;
    margin-top: 10vh;

    border: 3px solid white;
    border-radius: 25px 25px 0px 0px;
    padding: 100px;
}

.bg__general_legal .bg__icon .goBack_icon{
    font-size: 2rem;
    color: #519c7e;
    transition: 500ms;

    margin-bottom: 50px;
}

.bg__general_legal .bg__icon a{
    text-decoration: none;
}

.bg__general_legal .bg__icon .goBack_icon:hover{
    color: #b4dcc9;
}

.bg__general_legal .bg__content_legal{
    padding: 50px;
}

.bg__general_legal .bg__content_legal h1{
    color: #519c7e;
}

.bg__general_legal .bg__content_legal p{
    margin-top: 20px;
    line-height: 2.5;

    text-align: justify;
}

.bg__general_legal .bg__content_legal ol li{
    font-weight: bold;
    margin-left: 20px;
}

.bg__general_legal .bg__content_legal ol li p{
    font-weight: normal;
}

.bg__general_legal .bg__content_legal .datos__titular{
    margin-left: 50px;
}

.bg__general_legal .bg__content_legal a{
    color: #519c7e;
    text-decoration: none;

    transition: 500ms;
}

.bg__general_legal .bg__content_legal a:hover{
    color: #b4dcc9;
}

@media only screen and (max-width: 430px){
    .bg__general_aux_legal{
        width: 100%;
        height: 1515vh;
    }

    .bg__general_legal{
        margin-left: 5%;
        width: 83vw;
        padding: 10px;

        height: 1500vh;
    }
}